<section class="lower-title">
  <h2>Fight!</h2>
</section >
<section class="lower-title">
  <% if !@fight.anyone_dead? %>
  <a class="new" href="/gladiators/<%=@fight.gladiator.id%>/fight">Another round?</a>
  <% end %>
  <% if @fight.anyone_dead? && @fight.win? %>
  <a class="new" href="/gladiators">Victory!</a>
  <% end %>
  <% if @fight.anyone_dead? && !@fight.win? %>
  <a class="new" href="/gladiators">Defeat</a>
  <% end %>
</section>


<section class="gladiators">
  <article class="profile glad-prof">
    <img src="https://68.media.tumblr.com/ceb55eb227a2e50d46de08c5f5f4d927/tumblr_n8fhdhqyT71r6sk6wo9_r2_250.gif" alt="animated image of a gladiator standing">
    <h3><%=@gladiator.name%></h3>
    <p>Level: <%=@fight.gladiator.level%></p>
    <p>Health: <%=@fight.gladiator.current_health%>/<%=@gladiator.max_health%></p>
    <hr/>  
  </article>

  <article class="profile <%=@fight.creature.type.downcase%>">
    <% if @fight.creature.type == "Dragon"%>
    <img class="dragon" src="http://bestanimations.com/Fantasy/Dragons/dragon-animated-gif-40.gif" alt="animated image of a dragon flying">
    <% elsif @fight.creature.type == "Lion"%>
    <img src="http://bestanimations.com/Animals/Mammals/Cats/Lions/animated-lion-gif-19.gif" alt="animated image of a lion running">
    <% elsif @fight.creature.type == "Bear"%>
    <img src="https://hydra-media.cursecdn.com/onmyown.gamepedia.com/thumb/e/e8/Bear_Running.gif/400px-Bear_Running.gif?version=a4bc1cb26703ca703dc80b1f959dc1ef" alt="animated image of a bear running">
    <% end %>
    <h3><%=@fight.creature.name%></h3>
    <p>Type: <%=@fight.creature.type%></p>
    <p>Level: <%=@fight.creature.level%></p>
    <p>Health: <%=@fight.creature.current_health%>/<%=@fight.creature.max_health%></p>
    <hr/>
  </article>
</section>

<section class="gladiators">
  <article class="profile <%=@fight.creature.type.downcase%>">
    <h3><%= @round %></3>  
  </article>
</section>

