<section class="lower-title">
  <h2>Fight!</h2>
</section >
<section class="lower-title">
  <% if !@fight.anyone_dead? %>
  <a class="new" href="/gladiators/<%=@fight.gladiator.id%>/fight">Another round?</a>
  <% end %>
  <% if @fight.anyone_dead? && @fight.win? %>
  <a class="new" href="/gladiators">Victory!</a>
  <% end %>
  <% if @fight.anyone_dead? && !@fight.win? %>
  <a class="new" href="/gladiators">Defeat</a>
  <% end %>
</section>


<section class="gladiators">
  <article class="profile glad-prof">
    <h3><%=@gladiator.name%></h3>
    <p>Level: <%=@fight.gladiator.level%></p>
    <p>HP: <%=@fight.gladiator.current_health%>/<%=@gladiator.max_health%></p>
    <hr/>  
  </article>
  <article class="profile <%=@fight.creature.type.downcase%>">
    <h3><%=@fight.creature.name%></h3>
    <p>Type: <%=@fight.creature.type%></p>
    <p>Level: <%=@fight.creature.level%></p>
    <p>HP: <%=@fight.creature.current_health%>/<%=@fight.creature.max_health%></p>
    <hr/>
  </article>
</section>

<section class="gladiators">
  <article class="profile <%=@fight.creature.type.downcase%>">
    <p><%= @round %></p>  
  </article>
</section>

