<section class="form-area">
  <form class="form" method="post" action="/creatures/<%=@id%>">
    <label for="name-field">Name:</label>
    <input
    type="text"
    name="name"
    id="name-field"
    value="<%=@creature.name%>"
    required
    />
    <label for="level-field">Level:</label>
    <input
    type="number"
    name="level"
    id="level-field"
    value="<%=@creature.level%>"
    required
    />
    <label for="exp-field">Experience:</label>
    <input
    type="number"
    name="exp"
    id="exp-field"
    value="<%=@creature.exp%>"
    required
    />

    <label for="capture-date-field">Capture Date:</label>
    <input
    type="date"
    name="capture_date"
    id="capture-date-field"
    value="<%=@creature.capture_date%>"
    required
    />
    <label for="types-field">Type</label>
    <ul>
      <% @all_types.each do |type| %>
      <li><%=type%>
        <input
        type="radio"
        name="type"
        id="type-field"
        value="<%=type%>"
        <% if @creature.type == type%>
        required
        checked
        <% end %>
        />
      </li>
      <% end %>
    </ul>
    
    <label for="fightable-field">Ready to Fight?</label>
    <ul>
      <li>Ready
        <input
        type="radio"
        name="fightable"
        id="fightable-field"
        value="t"
        required
        <% if @creature.fightable%>
        checked
        <% end %>
        />
      </li>
      <li>Not Ready
        <input
          type="radio"
          name="fightable"
          id="fightable-field"
          value="f"
          <% if @creature.fightable == false%>
          checked
          <% end %>
          />
        </li>
      </ul>
    <% if @creature.fightable %>
      <label for="gladiator-selection">Gladiator: </label>
      <select name="gladiator_id" id="gladiator-selection">
        <option>None</option>
        <% @gladiators.each do |gladiator| %>
        <option value="<%=gladiator.id%>"><%=gladiator.name%></option>
        <% end %>
      </select>
    <% end %>

    <input class="button" type="submit" value="Update Creature">
  </form>
  <article class="filler">
  </article>
</section>