<h2><%= @type %>s</h2>

<section class="creatures">
 <% @creatures.each do |creature| %>
  <article class="profile <%=creature.type.downcase%>">
    <h3><%=creature.name%></h3>
    <p>Type: <%=creature.type%></p>
    <p>Date of Capture: <%=creature.capture_date%></p>
    <p>Fightable: <%=creature.fight_ready%></p>
    <p>Fighting: <%=creature.gladiator_names%></p>
  </article>
  <% end %>
</section>