<section class="lower-title">
  <h2>Resident Creatures</h2>
</section>

<form class="radio" method="get" action="/creatures/filter">
  <label for="creature-type-field">Creature Types:</label>
  <% @types.each do |type| %>
  <input
  type="radio"
  name="type"
  id="creature-type-field"
  value="<%=type%>"
  /><%=type%>
  <% end %>
  <input type="submit" value="Filter">
</form>

<section class="creatures">
 <% @creatures.each do |creature| %>
  <article class="profile <%=creature.type.downcase%>">
    <h3><%=creature.name%></h3>
    <p>Type: <%=creature.type%></p>
    <p>Date of Capture: <%=creature.capture_date%></p>
    <p>Fightable: <%=creature.fight_ready%></p>
    <p>Fighting: <%=creature.gladiator_names%></p>
  </article>
  <% end %>
</section>