<section class="lower-title">
  <h2><%= @type ? "Resident #{@type}s" : "Resident Creatures"%></h2>
</section>

<section class="lower-title">
  <a class="new" href="/creatures/new">Add Creature</a>

  <section class="filter">
    <form method="get" action="/creatures">
    
      <label for="creature-type-field">Filter:</label>
        <select name="type" id="creature-type-field">
          <option value="Creature">All</option>
          <% @all_types.each do |type| %>
            <option value="<%=type%>"><%=type%>s</option>
          <% end %>
        </select>

      <label for="fightable-field">Fightable:</label>
        <input
          type="radio"
          name="ready"
          id="fightable-field"
          value="t"
          />Ready
          <input
          type="radio"
          name="ready"
          id="fightable-field"
          value="f"
          />Recovering

      <input type="submit" value="Filter">
    </form>
  </section>
</section>

<section class="creatures">
  <% @creatures.each do |creature| %>
    <article class="profile <%=creature.type.downcase%>">
      <h3><%=creature.name%></h3>
      <p>Type: <%=creature.type%></p>
      <p>Level: <%=creature.level%></p>
      <p>Health: <%=creature.current_health%>/<%=creature.max_health%></p>
      <p>Attack: <%=creature.attack%></p>
      <p>Defence: <%=creature.defence%></p>
      <p>Speed: <%=creature.speed%></p>
      <p>Fightable: <%=creature.fight_ready%></p>
      <p>Fighting: <%=creature.gladiator_names%></p>
      <hr/>
      <a href="/creatures/<%=creature.id%>/edit">Edit</a>
      <a href="/creatures/<%=creature.id%>/destroy">Delete</a>
    </article>
  <% end %>
</section>