<h2>Resident Creatures</h2>
<section>
 <% @creatures.each do |creature| %>
  <article>
    <p>id: <%=creature.id%></p>
    <p>Name: <%=creature.name%></p>
    <p>Type: <%=creature.type%></p>
    <p>Date of Capture: <%=creature.capture_date%></p>
    <p>Fightable: <%=creature.fight_ready%></p>
    <p>Fighting: <%=creature.gladiator_names%></p>
    <hr/>
  </article>
  <% end %>
</section>