<section class="lower-title">
  <h2>Recovering Creatures</h2>
</section>  
<section class="lower-title">
  <a class="new" href="/creatures/new">Add Creature</a>
  <form class="radio" method="get" action="/creatures/not-ready">
    <label for="creature-type-field">Filter:</label>
    <input
    type="radio"
    name="type"
    id="creature-type-field"
    value="Creature"
    />All
    <% @types.each do |type| %>
    <input
    type="radio"
    name="type"
    id="creature-type-field"
    value="<%=type%>"
    /><%=type%>s
    <% end %>
    <input type="submit" value="Filter">
  </form>
</section>

<section class="creatures">
 <% @creatures.each do |creature| %>
  <% if creature.fightable == false %>
  <article class="profile <%=creature.type.downcase%>">
    <h3><%=creature.name%></h3>
    <p>Type: <%=creature.type%></p>
    <p>Date of Capture: <%=creature.capture_date%></p>
    <hr/>
    <a href="/creatures/not-ready/<%=creature.id%>/edit">Edit</a>
    <a href="/creatures/<%=creature.id%>/destroy">Delete</a>
  </article>
    <% end %>
  <% end %>
</section>