<section class="lower-title">
  <h2>Fightable Creatures</h2>
</section>

<section class="creatures">
 <% @creatures.each do |creature| %>
  <% if creature.fightable %>
  <article class="profile <%=creature.type.downcase%>">
    <h3><%=creature.name%></h3>
    <p>Type: <%=creature.type%></p>
    <p>Date of Capture: <%=creature.capture_date%></p>
    <p>Fightable: <%=creature.fight_ready%></p>
    <p>Fighting: <%=creature.gladiator_names%></p>
    <a href="/creatures/ready/<%=creature.id%>/edit">Edit</a>
    <a href="/creatures/<%=creature.id%>/destroy">Delete</a>
  </article>
    <% end %>
  <% end %>
</section>