<section class="form-area">
  <form class="form" method="post" action="/creatures/<%=@id%>">
    <label for="name-field">Name:</label>
    <input
    type="text"
    name="name"
    id="name-field"
    value="<%=@creature.name%>"
    />

    <label for="capture-date-field">Capture Date:</label>
    <input
    type="date"
    name="capture_date"
    id="capture-date-field"
    value="<%=@creature.capture_date%>"
    />

    <ul>
      <label for="fightable-field">Ready to Fight?</label>
      <li>Ready
        <input
        type="radio"
        name="fightable"
        id="fightable-field"
        value="t"
        checked
        />
      </li>
      <li>Not Ready
        <input
          type="radio"
          name="fightable"
          id="fightable-field"
          value="f"
          />
        </li>
      </ul>
    <label for="gladiator-selection">Gladiator: </label>
    <select name="gladiator_id" id="gladiator-selection">
      <option value="0">None</option>
      <% @gladiators.each do |gladiator| %>
      <option value="<%=gladiator.id%>"><%=gladiator.name%></option>
      <% end %>
    </select>

    <input class="button" type="submit" value="Update Creature">
  </form>
  <article class="filler">
  </article>
</section>