<h2>Fightable Creatures</h2>
<section>
 <% @creatures.each do |creature| %>
  <% if creature.fightable %>
  <article>
    <p>id: <%=creature.id%></p>
    <p>Name: <%=creature.name%></p>
    <p>Type: <%=creature.type%></p>
    <p>Date of Capture: <%=creature.capture_date%></p>
    <p>Fighting: <%=creature.gladiator_names%></p>
    <hr/>
  </article>
    <% end %>
  <% end %>
</section>